* Change the background of the entire visible page */
body {
    background-color: grey; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 4px solid orange; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
